.title
{
    font-family: 'zhang_qaregular'; /* Font from stylesheet.css */
    color: #CDEF9F; /* Primary */
    font-size: 120px;
    padding: 0px;
    margin: 0px;
    -webkit-text-stroke: 2px #769252; /* Darkest */
        /* https://css-tricks.com/almanac/properties/t/text-stroke/ */

    letter-spacing: 1px;
    text-align: center;
}

.makers
{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    color: #769252; /* Primary */
}

.uiButton
{
    background-color: #CDEF9F; /* Primary */
    border: 4px solid #769252; /* Darkest */
    color: #769252; /* Darkest */
    width: 84px;
    height: 92px;

    margin-bottom: 10px;
    
    background-size: 64px;
    background-position:center top;
    background-repeat:no-repeat;
    
    /*font-family: 'zhang_qaregular';*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top:58px;   /* Text Offset */

}

.uiButton:active
{
    font-size: 90%;
    border: 2px solid #E4F1D3;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

body
{
    background-color: #E4F1D3;  /* Lightest */
}

#container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pageElements
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
}

#controls
{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    padding-left: 5px;
}

#dorbSelect
{
    width: 150px;
}

#home
{
    background-image: url(/images/home.png);
}

#training
{
    background-image: url(/images/muscle.png);
}

#combat
{
    background-image: url(/images/swords.png);
}

#save
{
    background-image: url(/images/save.png);
}

#dorbLoad
{
    background-image: url(/images/load.png);
}

/*
    background-image: url('../images/coffee-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;


            <button id="home" class = "uiButton">Home</button>
            <button id="training" class = "uiButton">Train</button>
            <button id="combat" class = "uiButton">Fight</button>
            <button id="save" class = "uiButton">Save Dorb</button>*/