@font-face {
    font-family: "Zhang Qa";
    src: url(/fonts/zhang-qa.regular.woff) format("woff"),
}

.title
{
    font-family: 'Zhang Qa', Arial, sans-serif;     
        /* https://www.1001fonts.com/zhang-qa-font.html#license */
    color: #CDEF9F; /* Primary */
    font-size: 120px;
    padding: auto;
    margin: auto;
    -webkit-text-stroke: 2px #769252; /* Darkest */
        /* https://css-tricks.com/almanac/properties/t/text-stroke/ */

    letter-spacing: 1px;
    font-weight: bolder;
    text-align: center;
}

.makers
{
    padding: auto;
    margin: auto;
    margin-bottom: 10px;
    font-size: 45px;
    letter-spacing: 1px;
    font-family: 'Zhang QA';
    text-align: center;
    color: #769252; /* Primary */
}

.uiButton
{
    background-color: #CDEF9F; /* Primary */
    border: 2px solid #769252; /* Darkest */
    color: #769252; /* Darkest */
    border-radius: 100px;
    width: 100px;
    height: 100px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top:80px;
    cursor: pointer;
}

.uiButton:active
{
    font-size: 90%;
    border: 2px solid #E4F1D3;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

body
{
    background-color: #E4F1D3;  /* Lightest */
}

#container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#controls
{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

#home
{
    background-image: url(/images/home.png);
    background-size: cover;
}
/*
    background-image: url('../images/coffee-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;


            <button id="home" class = "uiButton">Home</button>
            <button id="training" class = "uiButton">Train</button>
            <button id="combat" class = "uiButton">Fight</button>
            <button id="save" class = "uiButton">Save Dorb</button>